body, html {
    height: 100%;
    min-height: 100%;
    margin: 0;
    min-width: 1070px;
    overflow: auto;
  }

:root {
    --dark-green: #A0A083;
    --light: #EAE0CC;
    --blue: #798478;
}

  /* PAGE SET UP */
.container{
    text-align: start;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.header {
    background-color: var(--light);
    grid-area: 1 / 2 / 2 / 6;
    box-shadow: 10px 10px 30px rgba(0,0,0,1);
}

.side-nav-bar {
    background-color: var(--blue);
    grid-area: 1 / 1 / 7 / 2;
    min-height: 100%;
}

.page-content {
    background-color: var(--dark-green);
    grid-area: 2 / 2 / 7 / 4;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding: 15px; */
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-content-title{
    padding-left: 35px;
    padding-top: 40px;
    margin: 0;
    font-size: 2em;
}

.right-side-tags{
    background-color: var(--dark-green);
    grid-area: 2 / 5 / 7 / 4; 
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.cards-set{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tags-set {
    padding: 20px;
}


.card{
    background-color: var(--light);
    height: 250px;
    width: 400px;
    margin: 15px;
    flex-grow: 1;
    flex-shrink: 1;
}

.tag {
    background-color: var(--light);
    height: 365px;
    width: 300px;
    margin: 0 10 30px min(35px, 75%);
}


.tag-1-title, .tag-2-title {
    padding-top: 20px;
    font-size: 2em;
}

.tag-2-title {
    margin-top: 35px;
}
